$('.answer-errors').html('');
<% if @answer.errors.present? %>
    <% @answer.errors.full_messages.each do |message| %>
        $('.answer-errors').append('<span><%= j message %></span>');
    <% end %>
<% else %>
    $('.answers').append('<%= j render @answer %>');
    $('#answer_body').val('');
<% end %>
